:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f9f9f9;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Style that we added */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

header div {
  display: flex;
  align-items: center;
  font-size: 21px;
  gap: 20px;
  cursor: pointer;
}

header div img {
  height: 50px;
}

header p {
  font-weight: bold;
  font-size: 20px;
}

.view-buttons {
  display: flex;
  justify-content: center;
}

.view-buttons button:first-child {
  border-radius: 6px 0 0 6px;
}
.view-buttons button:last-child {
  border-radius: 0 6px 6px 0;
}

.active {
  background: #646cff;
}

/* Map Page */
.leaflet-container {
  height: 80vh;
  margin-top: 30px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup span {
  font-weight: bold;
}
.popup button {
  width: 100%;
}

/* Modal */
.detail-outer {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.detail-inner {
  background: black;
  margin-left: 10px;
  height: 90%;
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 2px 2px 20px #535bf2;
}

.detail-inner img {
  border-radius: 10px;
}

@media (max-width: 670px) {
  .detail-outer {
    width: 100%;
  }

  .detail-inner {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    border-radius: 0px;
  }
}

.close-area {
  background: #535bf2;
  display: flex;
  justify-content: end;
  border-radius: 8px;
  padding-right: 10px;
  font-size: 18px;
}

.close-area span {
  cursor: pointer;
  transition: all 0.3s;
  padding: 2px 5px;
}
.close-area span:hover {
  background: gray;
  border-radius: 5px;
}

.detail-inner p {
  display: flex;
  gap: 10px;
}

.detail-inner p span:last-child {
  font-weight: bold;
}

.status {
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.red {
  background: rgb(182, 0, 0);
}

.yellow {
  background: rgb(186, 186, 0);
}

.green {
  background: green;
}

.warn {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

/* loader css */
.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed#444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination a {
  padding: 5px;
}

.pagination .selected {
  border-radius: 6px;
  background: #646cff;
}
